<% if tasks_index_list_filter(list) %>
  <a href="<%= list_path(list) %>" class="list-group-item">
    <span class="badge"><%= tasks_index_list_item_badge(list) %></span>
    <% if list.shared_list? %>
      <i class="fa fa-users fa-fw text-success" aria-hidden="true"></i>
    <% else %>
      <i class="fa fa-user-o fa-fw text-primary" aria-hidden="true"></i>
    <% end %>
    <%= list.name %>
  </a>
  <ul class="list-group my-tasks", id="edit-selected">
    <%= render :collection => tasks_index_list_tasks_collection(list), :partial => "tasks/task_li", :as => :task %>
  </ul>
<% end %>
