<% if user_signed_in? && current_user.lists.any? %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-list fa-fw" aria-hidden="true"></i> Lists <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <div class="list-group list-group-lists" id="new-list-nav-json">
      <% lists.each do |list| %>
        <a href="<%= list_path(list) %>" class="list-group-item <%= active_class(list_path(list), edit_list_path(list), list.id) %>">
          <span class="badge"><%= number_of_incomplete_tasks(list) if !list.all_tasks_completed? %></span>
          <%= list.name %>
        </a>
      <% end %>
      </div>
    </ul>
  </li>
<% end %>

<!-- script tag to display JSON response -->
<script id="list-template-lists-nav" type="text/x-handlebars-template">
  <a href="/lists/{{id}}" class="list-group-item">
    <span class="badge"></span>
    {{name}}
  </a>
</script>
