<div class="container">
  <div class="row">
    <div class="col-md-4"><h1><%= current_user.try(:email) %></h1></div>
    <div class="col-md-4"><h1>Welcome#home</h1></div>
    <div class="col-md-4"><h1>Welcome#home</h1></div>
  </div>
  <div class="row">
    <div class="col-md-8"><h1><%= current_user.try(:name) %></h1></div>
    <div class="col-md-4"><h1>Welcome#home</h1></div>
  </div>
</div>
