.my-tasks {
	margin: 0;
	padding: 0;
	list-style: none;
}

.my-tasks li {
	position: relative;
	/* font-size: 16px; */
}

.my-tasks li .toggle {
  text-align: center;
  width: 30px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 5px;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;
}

.my-tasks li .toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.my-tasks li .toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.my-tasks li span.task-description {
	/* white-space: pre-line; */
	/* word-break: break-all; */
	/* padding: 15px 60px 15px 15px; */
	margin-left: 40px;
	display: block;
	line-height: 1.428571429;
	transition: color 0.4s;
}

.my-tasks li.completed span.task-description {
	color: #d9d9d9;
	text-decoration: line-through;
}

.my-tasks li span.task-icons {
  display: block;
  position: absolute;
	top: 9px;
	right: 30px;
	bottom: 0;
	margin: auto 0;
  background: none;
	border: 0;
}

.my-tasks li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 5px;
	width: 20px;
	height: 20px;
	margin: auto 0;
	/* font-size: 16px; */
	color: #cc9a9a;
	/* margin-bottom: 4px; */
	transition: color 0.2s ease-out;
	background: none;
	border: 0;
}

.my-tasks li .destroy:hover {
	color: #af5b5e;
}

.my-tasks li .destroy:after {
	content: 'x';
}

.my-tasks li:hover .destroy {
	display: block;
}
