/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-social";
@import "lists";
@import "tasks";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  padding-top: 80px;
  padding-bottom: 60px;
}

.navbar-fixed-bottom .navbar-nav {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}

.navbar-fixed-bottom li {
  margin: 0px;
  padding: 0px;
}

.form-group-in-panel {
  margin: auto 0;
}

.fa-star {
  color: #FFD76E;
}

.fa-square-o {
  color: #DDDDDD;
}

.has-error .btn {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}

label {
  font-weight: normal;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.panel-default > .panel-heading .badge {
  color: #ffffff;
  background-color: #777777;
}

.navbar-brand,.marker {
  font-family: 'Permanent Marker', cursive;
}
