/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-social";

.list-group-lists {
  margin: 0;
}

.list-group-lists .list-group-item {
  border-left-style: none;
  border-right-style: none;
  padding-top: 6px;
  padding-bottom: 6px;
}

.list-group-lists .list-group-item:first-child {
  border-top-style: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-lists .list-group-item:last-child {
  border-bottom-style: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
