<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="navbar-text"><i class="fa fa-copyright fa-fw" aria-hidden="true"></i> 2017 Jdville03</li>
      <li><%= link_to "<i class='fa fa-github fa-fw fa-lg' aria-hidden='true'></i>".html_safe, "https://github.com/Jdville03/task-manager", target: "_blank" %></li>
    </ul>
  </div>
</footer>
