<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <i class="fa fa-check-square-o fa-lg fa-fw text-success" aria-hidden="true"></i> check!
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= active_class(root_path, lists_path) %>"><a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a></li>
        <!-- <li><a href="#">Link</a></li> -->
        <%= render partial: 'lists/lists_menu', locals: {lists: @lists} %>
      </ul>
      <!-- <form class="navbar-form navbar-left">
        <%# form_tag(url_for_display_tasks_option_form, method: "get") do %>
          <%# hidden_field_tag :display_tasks_option, value = "0" %>
          <%# check_box_tag :display_tasks_option, value = "1", checked = checked_option_for_display_tasks_option_form, :id => "toggle-event", :class => "toggle-status", :data => {:toggle => "toggle", :on => "Hide completed tasks", :off => "Show completed tasks", :width => "180"}, :disabled => @list.tasks.completed.empty? %>
        <%# end %>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <%= render partial: 'layouts/sign_in' %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
